<h2>Busquedas</h2>
<hr>
<div class="row">
    <div class="col">
        <button 
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="btn btn-outline-primary mr-1">
        Buscar país
        </button>
        <button 
        routerLink="region"
        routerLinkActive="active"
        class="btn btn-outline-primary mr-1">
        Por región
        </button>
        <button 
        routerLink="capital"
        routerLinkActive="active"
        class="btn btn-outline-primary mr-1">
        Por capital
        </button>
    </div>
</div>
